*.bun-build
*.tsbuildinfo
.DS_Store
.direnv/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.f2x
.ultra.cache.json
build/
coverage/
dist/
f2x
node_modules/
tmp/
yarn-error.log

# Test files, delete them
files.xml
files.*.xml
test.xml
test_0.xml
